* {
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
  }  
/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}
button {
    height: 30px;
    width: 70px;
}
.red-strip {
    background-color: red;
    height: 30px;
    width: 100%;
}
.header-container {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -15px;
    height: 90px;
}
.button-container {
    display: flex;
    gap: 25px;
    margin-right: 30px;
}
.header-button {
    border-radius: 10px;
    height: 48px;
    width: 120px;
    font-size: 30px;
    background-color: yellow;
    border: none;
}
.header-button:hover {
    text-decoration: underline;
    color: red;
}
.title {
    color: black;
    margin-left: 20px;
    font-size: 50px;
    font-style: italic;
}
/*content*/

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
/* Home Page */
.image {
    height: auto;
    width: 100%;
}
.info-box {

}


.menuButton {
    height: 80px;
    width: 200px;
}

/* contact */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 115px;
    background-color: rgba(248, 244, 244, 0.9);
    width: 50%;
    height: 650px;
    border-radius: 10px;
    border: solid black;
    
}
.map {
    height: 400px;
    width: auto;
    border: solid black;
    border-radius: 10px;
}
.info-box > div {
    font-size: 20px;
}
/* menu */
.menu-container {

    position: absolute;
    top: 115px;
    background-color: rgba(248, 244, 244, 0.9);
    width: 50%;
    height: 650px;
    border-radius: 10px;
    border: solid black;
    
}
.menuItem {
    height: 200px;
}

/* footer */
.foot {
    display: flex;
    gap: 130px;
}
.info-h1 {
    font-size: 45px
}
.info-element {
    margin-left: 70px;
    font-size: 24px;
}

.icon-contain {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 80px;
}
.icon {
    height: 70px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    height: 70px;
    background-color: red;
    opacity: 0.8;
}

.footer-container {
    position: fixed;
    bottom: 17px;
    font-size: 30px;
    font-weight: bold;
    left: 40%;
    display: flex;
    align-items: center;
}

spantext {
    
    margin-left: -70px;
}

.footer-icon1,
.footer-icon2 {
    height: 55px;
}
.footer-icon2 {
    position: absolute;
    right: -160px;
    bottom: -10px;
}
.footer-icon1 {
    position: absolute;
    right: -80px;
    bottom: -10px;
}
